<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>附加题</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="src/addition.css">
</head>

<body>
    <div id="app">
        <el-row style="border-bottom: 1px solid gray;">
            <el-col :span="8">
                <div class="personal-center">
                    <header>个人中心</header>
                    <div class="info">
                        <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png">
                        </el-avatar>
                        <h3>姓名</h3>
                        <p>123456789@qq.com</p>
                        <div class="icons">
                            <img src="src/设置.png">
                            <img src="src/邮件.png">
                            <img src="src/铃铛.png">
                        </div>
                        <button>展开显示动态消息</button>
                    </div>
                </div>
            </el-col>
            <el-col :span="16" style="border-left: 1px solid gray;">
                <div class="top">
                    <div class="searchBar">
                        <i class="el-icon-search"></i>
                        <input type="text" placeholder="请搜索">
                    </div>
                    <div class="type-choose">
                        <button class="button--active">邮箱</button>
                        <button>日历</button>
                    </div>
                </div>
                <el-row>
                    <el-col :span="10" class="left-col">
                        <header class="title">记事本</header>
                        <div class="content" v-for="(item,index) in contentList" :key="index">{{item}}</div>
                        <div class="add-content">
                            <button class="add-button">添加 + </button>
                        </div>
                    </el-col>
                    <el-col :span="14" class="right-col">
                        <div class="right-col__top">
                            <el-breadcrumb separator="/">
                                <el-breadcrumb-item><a href="javascript:;">收件箱</a></el-breadcrumb-item>
                                <el-breadcrumb-item>已发送</el-breadcrumb-item>
                            </el-breadcrumb>
                        </div>
                        <div class="user-info">
                            <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png">
                            </el-avatar>
                            <div class="user-info__right">
                                <p>jack</p>
                                <p style="font-size: 10px;color: lightgray;margin-top: 5px;">20209年8月14日星期五上午10:03</p>
                            </div>
                        </div>
                        <h2 style="margin-bottom: 20px;">学习建议</h2>
                        <h3 style="margin-bottom: 15px;">推荐一些学习材料</h3>
                        <p style="margin-bottom: 15px;">书籍</p>
                        <ul>
                            <li v-for="(item,index) in learningMaterials" :key="index">{{item}}</li>
                        </ul>
                        <p>带着目的进行书籍的选择和阅读，辨证独立思考进行选择,辨证地
                            进行阅读
                        </p>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
    </div>

    <!-- 引入vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    contentList: [
                        'aaaaaaaaaa',
                        'bbbbbbbbbbbbbbbbbbbbb',
                        'cccccccccccccccccc',
                        '7.6高考，定个阁钟。记得起床!记得起床!记得起床!重要的事说三遍!',
                        '小红今天借了我200块钱，说两周还我',
                        '买礼物',
                        '1+1=3',
                        '我爱地球，地球是我家，环境靠大家!地球日走起!'
                    ],
                    learningMaterials: [
                        'HTML、CSS:《Head First HTML与CSS》、(CSS 揭秘》、《精通CSS 高级Web标准解决方案》、《CSS权威指南》、《图解CSS3核心技术与案例实战》、《CSS禅意花园》、{CSS世界》', 'JawaScript:《JavaScript高级程序设计》 、《JavaSoript权威指南》、《你不知道的JavaScript》 、《深入理解ES6) 、《编写可维护的JavaScript]、《高性能JaveScript》《JavaScript设计模式》、《JavaScript语言精髓和编程实践》......', '计算机基础知识及进阶:《HTTP杈威指南》、 (Webkit技术内幕》、《深入理解计算机系统》 、《代码大全》 、《编程珠玑》、《设计模式》', '设计:《写给大家看的设计书》 、《点石成金》 、《用户体验要素》'
                    ]
                }
            }
        })
    </script>
</body>

</html>