* {
    margin: 0;
    padding: 0;
}

.personal-center header {
    padding: .625rem 0;
    text-align: center;
    color: grey;
    border-bottom: .0625rem solid gray;
}

.personal-center .info {
    text-align: center;
    padding-top: 3.125rem;
}

.personal-center .info h3, .personal-center .info p {
    margin: 1.25rem 0;
}

.personal-center .info .icons {
    margin: 1.25rem 0 2.5rem;
}

.personal-center .info .icons img {
    margin: 0 .9375rem;
}

.personal-center .info button {
    border: none;
    padding: .625rem 5rem;
    border-radius: .3125rem;
}

.top {
    height: 2.5625rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    border-bottom: .0625rem solid gray;
    justify-content: space-between;
}

.top .searchBar {
    width: 21.875rem;
    padding: .5rem .625rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    background-color: rgb(253, 249, 249);
}

.top .searchBar input {
    margin-left: .3125rem;
    padding: .125rem;
    width: 18.75rem;
    font-size: .8125rem;
    border: none;
    background-color: inherit;
}

.top .searchBar input:focus {
    outline: none;
}

.type-choose {
    border-radius: .625rem;
    background-color: lightgray;

}

.type-choose button {
    border: none;
    color: black;
    background-color: transparent;
    border-radius: .625rem;
    padding: .25rem 1.875rem;
}

.type-choose .button--active {
    color: white;
    font-weight: 500;
    background-color: rgb(58, 99, 233);
}

.left-col .title {
    padding: .625rem .625rem .625rem 1.875rem;
    font-weight: 600;
    border-left: .1875rem solid indigo;
    border-bottom: .0625rem solid gray;
}

.left-col .content {
    height: 3.125rem;
    padding: .125rem 1.875rem;
    font-size: .875rem;
    font-weight: 31.25rem;
    border-bottom: .0625rem solid gray;
}

.left-col .add-content {
    padding: .9375rem 0;
    background-color: rgb(28, 89, 168);
}

.left-col .add-content .add-button {
    margin-left: 55%;
    padding: .3125rem .9375rem;
    border: none;
    border-radius: .3125rem;
    font-size: 1.125rem;
    background-color: white;
    color: rgb(56, 144, 199);
    box-shadow: .25rem .25rem .3125rem black;
}

.right-col {
    padding: .625rem 2.5rem;
    border-left: .0625rem solid gray;
}

.right-col__top {
    width: 100%;
    float: right;
    margin-bottom: .9375rem;
    border-bottom: .125rem solid gray;
}

.el-breadcrumb {
    float: right;
    padding-bottom: .3125rem;
}

.right-col .user-info {
    width: 100%;
    padding-bottom: .3125rem;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    border-bottom: .0625rem dashed gray;
}

.right-col .user-info .user-info__right {
    margin-left: 5%;
}

.right-col ul {
    margin-left: 10%;
}

.right-col li {
    margin: .5rem 0;
}